{
    "x-generator": "NSwag v13.20.0.0 (NJsonSchema v10.9.0.0 (Newtonsoft.Json v13.0.0.0))",
    "openapi": "3.0.0",
    "info": {
        "title": "Citrix Monitor Service API for Developer Portal",
        "version": "devportal-cloud-ga"
    },
    "servers": [
        {
            "url": "https://api.cloud.com/monitorodata",
            "description": "For customers in US/EU/APS region"
        },
        {
            "url": "https://api.citrixcloud.jp/monitorodata",
            "description": "For customers in JP region"
        },
        {
            "url": "https://api.cloudburrito.com/monitorodata",
            "description": "For customers in stg"
        }
    ],
    "paths": {
        "/ApplicationActivitySummaries": {
            "get": {
                "tags": [
                    "ApplicationActivitySummaries"
                ],
                "summary": "Get all ApplicationActivitySummaries",
                "description": "Get all ApplicationActivitySummaries.",
                "operationId": "ApplicationActivitySummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. Please use the indexed fields for the filter to improve the performance. \n Indexed fields: SummaryDate, ApplicationId, DesktopGroupId, Granularity.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all ApplicationActivitySummaries.\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationActivitySummariesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/ApplicationErrors": {
            "get": {
                "tags": [
                    "ApplicationErrors"
                ],
                "summary": "Get all ApplicationErrors",
                "description": "Get all ApplicationErrors",
                "operationId": "ApplicationErrors",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: SessionKey, MachineId, ErrorReportedDate, FaultingApplicationPath, BrowserNames and FaultingApplicationPath.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "ErrorReportedDate gt 2024-12-01T00:00:00Z and ErrorReportedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all ApplicationErrors\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationErrorsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/ApplicationFaults": {
            "get": {
                "tags": [
                    "ApplicationFaults"
                ],
                "summary": "Get all ApplicationFaults",
                "description": "Get all ApplicationFaults",
                "operationId": "ApplicationFaults",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: SessionKey, MachineId, FaultReportedDate, FaultingApplicationPath, BrowserNames, MachineId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "FaultReportedDate gt 2024-12-01T00:00:00Z and FaultReportedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all ApplicationFaults\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationFaultsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/ApplicationInstances": {
            "get": {
                "tags": [
                    "ApplicationInstances"
                ],
                "summary": "Get all ApplicationInstances",
                "description": "Get all ApplicationInstances",
                "operationId": "ApplicationInstances",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: EndDate, StartDate, SessionKey, ApplicationId, ModifiedDate.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "ModifiedDate gt 2024-12-01T00:00:00Z and ModifiedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all ApplicationInstances\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationInstancesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/Applications": {
            "get": {
                "tags": [
                    "Applications"
                ],
                "summary": "Get all Applications",
                "description": "Get all Applications",
                "operationId": "Applications",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: Path, BrowserName",
                        "schema": {
                            "type": "string"
                        },
                        "example": "BrowserName eq 'MyBrowserName'"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all Applications\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApplicationsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/AutoScalePredictions": {
            "get": {
                "tags": [
                    "AutoScalePredictions"
                ],
                "summary": "Get all AutoScalePredictions",
                "description": "Get all AutoScalePredictions",
                "operationId": "AutoScalePredictions",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: PredictionDate",
                        "schema": {
                            "type": "string"
                        },
                        "example": "PredictionDate gt 2024-12-01T00:00:00Z and PredictionDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all AutoScalePredictions",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AutoScalePredictionsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/Catalogs": {
            "get": {
                "tags": [
                    "Catalogs"
                ],
                "summary": "Get all Catalogs",
                "description": "Get all Catalogs",
                "operationId": "Catalogs",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "ModifiedDate gt 2024-12-01T00:00:00Z and ModifiedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all Catalogs\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CatalogsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/ConnectionFailureCategories": {
            "get": {
                "tags": [
                    "ConnectionFailureCategories"
                ],
                "summary": "Get all ConnectionFailureCategories",
                "description": "Get all ConnectionFailureCategories",
                "operationId": "ConnectionFailureCategories",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "ModifiedDate gt 2024-12-01T00:00:00Z and ModifiedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all ConnectionFailureCategories\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConnectionFailureCategoriesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/ConnectionFailureLogs": {
            "get": {
                "tags": [
                    "ConnectionFailureLogs"
                ],
                "summary": "Get all ConnectionFailureLogs",
                "description": "Get all ConnectionFailureLogs",
                "operationId": "ConnectionFailureLogs",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: FailureDate, SessionKey, MachineId, UserId, ConnectionId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "FailureDate gt 2024-12-01T00:00:00Z and FailureDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all ConnectionFailureLogs\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConnectionFailureLogsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/Connections": {
            "get": {
                "tags": [
                    "Connections"
                ],
                "summary": "Get all Connections",
                "description": "Get all Connections",
                "operationId": "Connections",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: EstablishmentDate, DisconnectDate, SessionKey, LogOnStartDate, InteractiveEndDate, CreatedDate. ",
                        "schema": {
                            "type": "string"
                        },
                        "example": "EstablishmentDate gt 2024-12-01T00:00:00Z and EstablishmentDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all Connections\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ConnectionsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/DesktopGroups": {
            "get": {
                "tags": [
                    "DesktopGroups"
                ],
                "summary": "Get all DesktopGroups",
                "description": "Get all DesktopGroups",
                "operationId": "DesktopGroups",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: Id.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CreatedDate gt 2024-12-01T00:00:00Z and CreatedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all DesktopGroups\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DesktopGroupsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/DesktopOSDesktopSummaries": {
            "get": {
                "tags": [
                    "DesktopOSDesktopSummaries"
                ],
                "summary": "Get all DesktopOSDesktopSummaries",
                "description": "Get all DesktopOSDesktopSummaries",
                "operationId": "DesktopOSDesktopSummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: Granularity, SummaryDate, DesktopGroupId",
                        "schema": {
                            "type": "string"
                        },
                        "example": "Granularity eq 1440 and SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all DesktopOSDesktopSummaries\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/DesktopOSDesktopSummariesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/FailureLogSummaries": {
            "get": {
                "tags": [
                    "FailureLogSummaries"
                ],
                "summary": "Get all FailureLogSummaries",
                "description": "Get all FailureLogSummaries",
                "operationId": "FailureLogSummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields:SummaryDate, Granularity, FailureCategory, DesktopGroupId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all FailureLogSummaries\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FailureLogSummariesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/Hotfixes": {
            "get": {
                "tags": [
                    "Hotfixes"
                ],
                "summary": "Get all Hotfixes",
                "description": "Get all Hotfixes",
                "operationId": "Hotfixes",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CreatedDate gt 2024-12-01T00:00:00Z and CreatedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all Hotfixes\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HotfixesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/Hypervisors": {
            "get": {
                "tags": [
                    "Hypervisors"
                ],
                "summary": "Get all Hypervisors",
                "description": "Get all Hypervisors",
                "operationId": "Hypervisors",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CreatedDate gt 2024-12-01T00:00:00Z and CreatedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all Hypervisors\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HypervisorsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/LhcReport": {
            "get": {
                "tags": [
                    "LhcReport"
                ],
                "summary": "Get all LhcReport",
                "description": "Get all LhcReport",
                "operationId": "LhcReport",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields:StartDate, EndDate, ZoneName, ControllerName.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "StartDate gt 2024-12-01T00:00:00Z and StartDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all LhcReport\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LhcReportGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/LoadIndexSummaries": {
            "get": {
                "tags": [
                    "LoadIndexSummaries"
                ],
                "summary": "Get all LoadIndexSummaries",
                "description": "Get all LoadIndexSummaries",
                "operationId": "LoadIndexSummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: MachineId, Granularity, SummaryDate.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all LoadIndexSummaries\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoadIndexSummariesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/LoadIndexes": {
            "get": {
                "tags": [
                    "LoadIndexes"
                ],
                "summary": "Get all LoadIndexes",
                "description": "Get all LoadIndexes",
                "operationId": "LoadIndexes",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: MachineId, CreatedDate.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CreatedDate gt 2024-12-01T00:00:00Z and CreatedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all LoadIndexes\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoadIndexesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/LogOnMetrics": {
            "get": {
                "tags": [
                    "LogOnMetrics"
                ],
                "summary": "Get all LogOnMetrics",
                "description": "Get all LogOnMetrics",
                "operationId": "LogOnMetrics",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: SessionKey.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SessionKey eq 61827d05-88f3-4793-a808-1f797406f162"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all LogOnMetrics\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogOnMetricsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/LogOnSummaries": {
            "get": {
                "tags": [
                    "LogOnSummaries"
                ],
                "summary": "Get all LogOnSummaries",
                "description": "Get all LogOnSummaries",
                "operationId": "LogOnSummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax.\n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: Granularity, SummaryDate, DesktopGroupId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all LogOnSummaries\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/LogOnSummariesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineCostSavingsSummaries": {
            "get": {
                "tags": [
                    "MachineCostSavingsSummaries"
                ],
                "summary": "Represents a summary of cost savings for a machine over a specified period.",
                "description": "Represents a summary of cost savings for a machine over a specified period.",
                "operationId": "MachineCostSavingsSummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: DesktopGroupId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all MachineCostSavingsSummaries\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachineCostSavingsSummariesGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineCosts": {
            "get": {
                "tags": [
                    "MachineCosts"
                ],
                "summary": "Get all MachineCosts",
                "description": "Get all MachineCosts",
                "operationId": "MachineCosts",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: SpecId.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all MachineCosts\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachineCostsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineFailureLogs": {
            "get": {
                "tags": [
                    "MachineFailureLogs"
                ],
                "summary": "Get all MachineFailureLogs",
                "description": "Get all MachineFailureLogs",
                "operationId": "MachineFailureLogs",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: MachineId, FailureStartDate, FailureEndDate, FaultState, CreatedDate.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CreatedDate gt 2024-12-01T00:00:00Z and CreatedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all MachineFailureLogs\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachineFailureLogsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineHotfixLogs": {
            "get": {
                "tags": [
                    "MachineHotfixLogs"
                ],
                "summary": "Get all MachineHotfixLogs",
                "description": "Get all MachineHotfixLogs",
                "operationId": "MachineHotfixLogs",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: MachineId, CurrentState, HotfixId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CurrentState eq true and CreatedDate gt 2024-12-01T00:00:00Z and CreatedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all MachineHotfixLogs\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachineHotfixLogsGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineMetric": {
            "get": {
                "tags": [
                    "MachineMetric"
                ],
                "summary": "Get all MachineMetric",
                "description": "Get all MachineMetric",
                "operationId": "MachineMetric",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: CollectedDate.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "CollectedDate gt 2024-12-01T00:00:00Z and CollectedDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all MachineMetric\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachineMetricGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineMetricSummary": {
            "get": {
                "tags": [
                    "MachineMetricSummary"
                ],
                "summary": "Get all MachineMetricSummary",
                "description": "Get all MachineMetricSummary",
                "operationId": "MachineMetricSummary",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationTop"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationSkip"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationCount"
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Select the fields to return.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationExpand"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get all MachineMetricSummary\n .The example value and schema in the response show the result after using the expand operation. Without the expand operation, only return the current entity.",
                        "headers": {
                            "$ref": "#/components/headers/Response200Hearder"
                        },
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MachineMetricSummaryGet200ApplicationJsonResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "$ref": "#/components/responses/Error400"
                    },
                    "401": {
                        "$ref": "#/components/responses/Error401"
                    },
                    "404": {
                        "$ref": "#/components/responses/Error404"
                    },
                    "429": {
                        "$ref": "#/components/responses/Error429"
                    }
                }
            }
        },
        "/MachineSummaries": {
            "get": {
                "tags": [
                    "MachineSummaries"
                ],
                "summary": "Get all MachineSummaries",
                "description": "Get all MachineSummaries",
                "operationId": "MachineSummaries",
                "parameters": [
                    {
                        "$ref": "#/components/headers/RequestHeaderCustomerId"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAuthorization"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderUserAgent"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAccept"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderAcceptEncoding"
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filter the results using OData syntax. \n Please use the indexed fields for the filter to improve the performance. \n Indexed fields: Granularity, SummaryDate, DesktopGroupId.",
                        "schema": {
                            "type": "string"
                        },
                        "example": "SummaryDate gt 2024-12-01T00:00:00Z and SummaryDate lt 2024-12-02T00:00:00Z"
                    },
                    {
                        "$ref": "#/components/headers/RequestHeaderOperationOrderby"
                    },
[...]
